body {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin:0;
    padding:0;
    font-family:"Arial",serif;
    overflow:auto;
    background-color:rgb(236,230,240);
}
/* Only edit this if you know what you are doing! */
img {
    position:absolute;
    display:block;
    margin:0;
    border:none;
    padding:0;
}
/* Only edit this if you know what you are doing! */


#content-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    width: 34.57894736842105rem;
    overflow: hidden;
    background-color: rgb(236, 230, 240);
    flex-direction: column;
    align-items: center;
}
#head {
    z-index:2;
    position:relative;
    width:90%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:rgb(236,230,240);
    color:rgba(16,16,16,1);
    font-size:1.263157894736842rem;
    font-family:Roboto,sans-serif;
    /*border:1px solid rgba(187,187,187,1);
    */
    border-radius:0.5263157894736842rem;
}

#list {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    width: 90%;
    padding: 2% 2% 2% 2%;
    background-color: rgb(254, 247, 255);
    border-radius: 0.5263157894736842rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list-cell {
    margin-top:0.15789473684210525rem;
    position:relative;
    width:100%;
    height:2.1052631578947367rem;
    line-height:1.0526315789473684rem;
    background-color:rgb(234,221,255);
    color:rgba(16,16,16,1);
    font-size:0.7368421052631579rem;
    text-align:left;
    font-family:Roboto,sans-serif;
    border:2px solid rgba(187,187,187,1);
    border-radius:0.5263157894736842rem;
    cursor:move;
}
.list-cell-warnning {
    margin-top:0.15789473684210525rem;
    position:relative;
    width:100%;
    height:2.1052631578947367rem;
    line-height:1.0526315789473684rem;
    background-color:rgb(255,216,228);
    color:rgba(16,16,16,1);
    font-size:0.7368421052631579rem;
    text-align:left;
    font-family:Roboto,sans-serif;
    border:2px solid rgba(187,187,187,1);
    border-radius:0.5263157894736842rem;
    cursor:move;
}

.list-text {
    margin-top:0.47368421052631576rem;
    position:absolute;
    display:flex;
    align-items:center;
    left:4.2105263157894735rem;
    width:100%;
    height:1.1578947368421053rem;
    color:rgba(16,16,16,1);
    font-size:0.9473684210526315rem;
    text-align:left;
    font-family:PingFangSC-regular,sans-serif;
}
.list-icon {
    margin-left:1.2105263157894737rem;
    margin-top:0.2631578947368421rem;
    width:1.5789473684210527rem;
    height:1.5789473684210527rem;
}
p{
    position:sticky;
}
#select {
    position:sticky;
    left:25.894736842105264rem;
    z-index:0;
    line-height:1.736842105263158rem;
    margin-right: 1rem;
    height:2rem;
    font-size:1rem;
    font-family:Roboto,sans-serif;
    border:rgb(236,230,240);
    background-color:rgb(236,230,240);
    transition:all 0.3s;
    width:4.7368421052631575rem;
}
#fresh {
    position:sticky;
    z-index:1;
    left:27.36842105263158rem;
    width:1.263157894736842rem;
    height:1.263157894736842rem;
    border:none;
    background-color:rgb(236,230,240);
    cursor:pointer;
}
#fresh-icon {
    position:sticky;
    z-index:0;
    left:0;
    top:0;
    width:1.263157894736842rem;
    height:1.263157894736842rem;
}
#merge {
    position:relative;
    width:80%;
    height:3.1578947368421053rem;
    line-height:2.1578947368421053rem;
    border-radius:0.42105263157894735rem 0.42105263157894735rem 0.42105263157894735rem 0.42105263157894735rem;
    background-color:rgb(103,80,164);
    color:rgb(255,255,255);
    font-size:1.4736842105263157rem;
    text-align:center;
    font-family:Roboto,sans-serif;
    border:0;
}

