body {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  overflow-x: hidden;
}

/* Only edit this if you know what you are doing! */
img {
  position: absolute;
  display: block;
  margin: 0px;
  border: none;
  padding: 0px;
}

/* Only edit this if you know what you are doing! */
div {
  position: absolute;
}

#content-container {
  display: block;
  position: relative;
  width: 600px;
  height: 900px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#head {
  z-index: 2;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(218, 218, 217, 1);
  color: rgba(16, 16, 16, 1);
  font-size: 28px;
  font-family: Roboto;
  border: 1px solid rgba(187, 187, 187, 1);
}
#list {
  left: 0px;
  top: 74px;
  width: 100%;
  height: 637px;
}

.list-cell {
  position: static;
  width: 598px;
  height: 49px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: left;
  font-family: Roboto;
  border: 1px solid rgba(187, 187, 187, 1);
}

.list-cell-warnning {
  position: static;
  width: 598px;
  height: 49px;
  line-height: 20px;
  background-color: rgba(255,176,99,1);
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: left;
  font-family: Roboto;
  border: 1px solid rgba(187, 187, 187, 1);
}

.list-cell-select {
  position: static;
  width: 598px;
  height: 49px;
  line-height: 20px;
  background-color: rgb(122, 255, 99);
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: left;
  font-family: Roboto;
  border: 5px solid rgb(122, 255, 99);
}

.list-text {
  margin-top: 11px;
  position: absolute;
  display: flex;
  align-items: center;
  left: 80px;
  width: 100%;
  height: 27px;
  color: rgba(16, 16, 16, 1);
  font-size: 18px;
  text-align: left;
  font-family: PingFangSC-regular;
}
.list-icon {
  margin-left: 23px;
  margin-top: 7px;
  width: 38px;
  height: 38px;
}

#select {
  position: absolute;
  left: 397px;
  z-index: 0;
  line-height: 33px;
  margin: 0;
  height: 41px;
  font-size: 23px;
  font-family: Roboto;
  border: 1px solid rgba(218, 218, 217, 1);
  background-color: rgba(218, 218, 217, 1);
  transition: all 0.3s;
  width: 110px;
}
#fresh {
  position: absolute;
  z-index: 1;
  left: 535px;
  top: 14px;
  width: 34px;
  height: 34px;
  border: none;
  background-color: rgba(218, 218, 217, 1);
}
#fresh-icon {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
}
#merge {
  position: fixed;
  bottom: 16px;
  margin-left: 10px;
  width: 580px;
  height: 60px;
  line-height: 41px;
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(23, 132, 252, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  text-align: center;
  font-family: PingFang SC;
  border: 2px solid rgba(239, 239, 239, 1);
}
